---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Offer from '../components/Offer.astro';
---

<Layout title="Welcome to Astro.">
	<Header />
	<main>
		<Hero />
		<Offer />
	</main>
</Layout>
